{% extends "interface/base.html" %}
{% load static %}
{% block content %}
    <div class="row justify-content-around">
        <div class="col-sm-5 card panel border-0">
            <div id="thermostat_holder">
                <div id="slider"></div>
            </div>
            <form id="overrideForm">
                {% csrf_token %}
                {{ form }}
            </form>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "{% url 'get_temp' %}",
            success: function(msg) {
                $("#slider").roundSlider("setValue", parseFloat(msg));
            }
        })
    });
        $("#slider").roundSlider({
            radius: parseFloat($('#thermostat_holder').css('width')) / 2,
            circleShape: "pie",
            sliderType: "min-range",
            lineCap: "round",
            width: 40,
            value: 20,
            startAngle: 315,
            min: 15,
            max: 25,
            step: 0.5,
            change: function (e) {
                let data = $("#overrideForm").serialize();
                $.ajax({
                    type: "GET",
                    url: "/api/set/" + e.value,
                    data: data
                });
            },
        });
    </script>
{% endblock content %}
