{% extends "interface/base.html" %}
{% load mytags %}
{% load static %}
{% load crispy_forms_filters %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'interface/css/splines.css' %}">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="{% static 'interface/js/spline.js' %}"></script>
    <script>
        window.mobileCheck = function () {
            let check = false;
            (function (a) {
                if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) check = true;
            })(navigator.userAgent || navigator.vendor || window.opera);
            return check;
        };
    </script>
{% endblock %}
{% block content %}
    <div class="row justify-content-around">
        <div class="col-lg-8 card panel">
            Name:
            <form id="newSplineForm">
                {% csrf_token %}
                {{ formNewSpline|crispy }}
                <input class="btn btn-steelblue" type="submit" value="Add new curve" id="submitNewSpline"/>
            </form>
        </div>
        <div class="col-lg-8 card panel" id="holder">
            <div class="inactive">
                {% for spline in splines %}
                    <div id="spline_{{ forloop.counter }}">
                        <data>{{ spline.1|safe }}</data>
                        <days>{{ spline.2|safe }}</days>
                    </div>
                {% endfor %}
            </div>
            <select name="splines" id="splineSelect" class="form-control" onchange="selectSpline()">
                {% for spline in splines %}
                    <option value="{{ forloop.counter }}">{{ spline.0 }}</option>
                {% endfor %}
            </select>


            <div class="row justify-content-around">
                <div class="col-sm-11 col-lg-10 card panel splineholder border-0">
                    <div class="card spline spline_card">
                        <div id="spline_svg"></div>
                    </div>
                </div>
                <div class="col-lg-2 card panel days">
                    <form action="{% url 'splines' %}" method="POST">
                        {% csrf_token %}
                        {{ formDays|crispy }}
                        <input class="btn btn-steelblue" type="submit" value="Save"/>
                    </form>
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        var mySpline = null;

        $(document).ready(function () {
            $("#newSplineForm").submit(function (e) {
                let data = $("#newSplineForm").serialize();
                $.ajax({
                    type: "POST",
                    url: "{% url 'spline_new' %}",
                    data: data,
                    success: function (msg) {
                        location.reload();
                    },
                    error: function (msg) {
                        location.reload();
                    }
                });
            });
        });
        selectSpline();

        function getDays(idx) {
            return JSON.parse($("#spline_" + idx + " days").text());
        }

        function getData(idx) {
            let json = JSON.parse($("#spline_" + idx + " data").text());
            json.forEach(item => {
                item[1] = parseFloat(item[1]);
                item[0] = parseFloat(item[0].slice(0, 5).replace(':', '.').replace('30', '5'));
            });
            return json;
        }

        function nodeMoved(xys) {
            $("#id_spline_data").val(JSON.stringify(xys));
        }

        function selectSpline() {
            let selected = $("#splineSelect option:selected").text();
            let selected_idx = $("#splineSelect").val();
            $("#id_spline").val(selected)
            $('#spline_svg').empty();
            $("input[type='checkbox']").prop("checked", false);
            getDays(selected_idx).forEach(day => {
                $("#id_days_" + day).prop("checked", true);
            });
            height = 500;
            if (window.mobileCheck()) {
                height = screen.height;
            }
            window.mySpline = spline("#spline_svg", {
                width: Math.round($(".splineholder").width()),
                height: height,
                minY: 14,
                maxY: 24,
                stepY: 0.5,
                textModuloY: 2,
                gridModuloY: 1,
                minX: 0,
                maxX: 24,
                stepX: 0.5,
                gridStartX: 30,
                gridStartY: 30,
                textModuloX: 4,
                gridModuloX: 2,
                fontSize: 12,
                data: getData(selected_idx),
                movementCallback: nodeMoved
            });
        }
    </script>
{% endblock content %}
