html {
    min-height: 100%;
    position: relative;
    /*noinspection CssUnknownTarget*/
    background-image: url("/static/interface/img/background.jpg");
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background: none;
}

nav {
    background-color: rgba(245, 245, 245, 0.9);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    background-color: rgba(245, 245, 245, 0.9);
}

.fill {
    height: 100%;
}

.row {
    margin: 0;
}

.panel {
    margin-top: 20px;
    padding: 10px;
}

.messages {
    list-style-type: none;
    color:red;
    padding-left: 0;
}

.rs-tooltip-text {
    font-size: 3em;
}