rect {
    fill: none;
    pointer-events: all;
}

line {
    stroke: #949292;
    stroke-width: 1px;
}

circle,
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

circle {
    fill: #fff;
    fill-opacity: .2;
    cursor: move;
}

.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e;
}

.inactive {
    display: none;
}

.splineholder {
    padding: 0;
}

.btn-steelblue {
    color: steelblue;
    background-color: transparent;
    background-image: none;
    border-color: steelblue;
}
