.rs-control .rs-range-color {
    background-color: #089eee;
}
.rs-control .rs-path-color {
    background-color: white;
}
.rs-control .rs-handle {
    background-color: #838383;
}
.rs-control .rs-bg-color {
    background-color: white;
}