{% extends "interface/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <div class="row justify-content-around">
        <div class="col-sm-5 card panel">

            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-info" type="submit">Login
                </button>
            </form>
            <br>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock content %}
